/* src/App.module.css */

/* .appContainer uchun maxsus stil kerak emas, chunki sidebar fixed */

.sidebar {
  width: 25%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: var(--sidebar-bg);
  border-right: 1px solid var(--sidebar-border);
  /* Padding va overflow Sidebar komponentining ichiga ko'chirildi */
}

.mainContent {
  margin-left: 25%; /* Sidebar kengligiga mos margin */
  padding: 2rem;
  background-color: var(--bg-body);
  min-height: 100vh;
}
